.register-header {

    &__title {
        text-align: center;
    }

    &__avatar {
        display: block;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        background-image: url(../images/icon-avatar-default.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

}
